.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    color: var(--black);
  }

  &__course-count {
    width: 37px;
    height: 25px;
    border-radius: 25px;
    background-color: #b3c0d9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__actions-sort-rating,
  &__actions-sort-price {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__actions-sort-rating-active {
    color: var(--primary);
    font-weight: 700;
  }

  &__actions-sort-rating-active svg {
    fill: var(--primary);
  }
}

.page-vacancies {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: var(--black);
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 3fr;

    gap: 30px;
  }

  &__count {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }

  &__count-title,
  &__salary-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: var(--black);
  }

  &__count-num {
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    color: var(--primary);
    margin: 12px 0px;
  }

  &__salary {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }

  &__salary-amount {
    font-size: 26px;
    font-weight: 700;
    line-height: 35.41px;
    margin: 12px 0px;
  }

  &__salary > div:not(:last-child) {
    border-right: 1px solid #ebebeb;
  }

  &__rating-star {
    margin-left: 10px;
  }

  &__rating-star-active {
    fill: var(--orange);
  }
}

.advantages {
  margin-top: 47px;

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 29.96px;
    text-align: left;
    margin-bottom: 15px;
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__list-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    text-align: left;
  }

  &__list-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
  }
}

.tags {
  margin-top: 30px;

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 29.96px;
    text-align: left;
    margin-bottom: 15px;
    margin-bottom: 20px;
  }

  &__tags-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 10px;
  }
}
