.star svg {
  margin-right: 5px;
  cursor: pointer;
}

.filled svg {
  fill: $primary;
  transition: all 0.3s ease;
}

.error-message {
  position: absolute;
  bottom: -16px;
  left: 0;
  color: $red;
  font-size: 12px;
}

.error svg {
  stroke: $red;
}
