.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(230px, 1200px) auto;
  grid-template-rows: auto 1fr auto;
  gap: 0 30px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    '. header header .'
    '. sidebar content .'
    'footer footer footer footer';

  min-height: 100vh;
}

.header {
  grid-area: header;

  display: none;
}

.sidebar {
  grid-area: sidebar;
  padding-top: 26px;
}

.content {
  grid-area: content;
  padding: 33px 0;
}

.footer {
  grid-area: footer;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: $breakpoint-mobile) {
  .wrapper {
    grid-template-columns: minmax(230px, 1fr);
    grid-template-areas:
      'header'
      'content'
      'footer';
  }

  .sidebar {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
    padding: 20px;
  }
  .content {
    padding: 8px 10px 0 10px;
  }
}
