.input-wrapper {
  position: relative;
  margin-top: 10px;

  &__input {
    border: none;
    outline-color: $primary;
    padding: 7px 34px 7px 15px;
    box-shadow: 0px 4px 14px -6px rgb(163 179 191 / 24%);
    border-radius: 5px;
    color: $black;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;

    &::placeholder {
      color: $mist-gray;
    }

    &--error {
      border: 1px solid $red;

      &::placeholder {
        color: $red;
      }
    }
  }

  &__button {
    position: absolute;
    right: 3px;
    top: 3px;

    & > button {
      padding: 6px;
    }
  }
}

.error-message {
  position: absolute;
  bottom: -16px;
  left: 0;
  color: $red;
  font-size: 12px;
}
