$black: #3b434e;
$white: #fff;
$red: #de0000;
$primary: #7653fc;
$primary-hover: #5831f7;
$green: #1dc37e;
$lightgreen: #c8f8e4;
$gray: #ebebeb;
$lightgray: #b3c0d9;
$font-family: 'Noto Sans', sans-serif;
$background-light: #f5f6f8;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;
$light-purple: #f9f8ff;
$orange: #fc836d;
$gray-dark: #787d85;
$background: #f5f6f8;
$mist-gray: #a4a4a4;

$breakpoint-mobile: 768px;
