$black: #3B434E;
$white: #fff;
$red: #DE0000;
$primary: #7653FC;
$primary-hover: #5831f7;
$green: #1DC37E;
$lightgreen: #C8F8E4;
$gray: #EBEBEB;
$lightgray: #B3C0D9;
$font-family: "Noto Sans", sans-serif;
$background-light: #F5F6F8;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;